<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537256549209-6f37vd665jnjqo9v4fgt7mkd1kt4cfvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537256549209-6f37vd665jnjqo9v4fgt7mkd1kt4cfvf</string>
	<key>API_KEY</key>
	<string>AIzaSyDFgri9elTzSbtzeWzxys_tCblZa6vj28s</string>
	<key>GCM_SENDER_ID</key>
	<string>537256549209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.disneyPlus</string>
	<key>PROJECT_ID</key>
	<string>disney-plus-db</string>
	<key>STORAGE_BUCKET</key>
	<string>disney-plus-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537256549209:ios:ec1988a31f796343540a48</string>
</dict>
</plist>